.App>h1{
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
}
nav > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  background-color: rgb(186, 186, 186);
  font-size: 1.2vw;
}
nav > button:hover {
  cursor: pointer;
}
.active {
  background-color: black;
  color: white;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.product {
  height: 400px;
  padding: 10px;
  position: flex;
  align-items: center;
  flex-direction: column;
  
  width: 20%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2vw;
}

img {
  padding: 2px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  min-height:0;
  object-fit: contain
}
